<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Portal de Clubes</h4>
            <div class="row">
              <div class="col-md-6">
                <p class="category">Gerencie seus clubes aqui</p>
              </div>
              <div class="col-md-6">
                <a routerLink="new" class="btn btn-primary btn-fill pull-right">Novo</a>
              </div>
            </div>

          </div>
          <div class="content">
            <div class="card-deck">
              <div class="card" routerLinkActive="active">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="hidden">Id</th>
                        <th>Nome</th>
                        <th>Federação</th>
                        <th>Cidade</th>
                        <th>Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let club of clubs">
                        <td class="hidden"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                          <button class="btn btn-danger" (click)="deleteClub(club)"> Delete</button>
                          <button class="btn btn-success" (click)="editClub(club)" style="margin-left: 20px;"> Edit</button>
                        </td>
                      </tr>
                      <tr *ngIf="!clubs">
                        <td colspan="4" class="text-center">Não possui clubes cadastrados!</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>