<nz-card>
  <div>
    <h3 class="h3">Portal de Clubes</h3>
    <h4 class="mt-sm text-grey">Cadastre seus clubes aqui</h4>
  </div>

  <nz-card>
    <div nz-row nzType="flex">
      <div nz-col nzOffset=22>
        <button nz-button nzType="primary" nzSize="large" routerLink="new">Novo</button>
      </div>
    </div>
    <div>
      <nz-table #basicTable>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Federação</th>
            <th>Cidade</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </nz-table>
    </div> 
  </nz-card>
</nz-card>