<page-header [title]="'Listar Federações'" >
        Federações disponíveis no sistema
      </page-header>
      <nz-card [nzBordered]="false">
        <button nz-button routerLink="new" [nzType]="'primary'">
          <i nz-icon type="plus"></i>
          <span>Cadastrar</span>
        </button>
        <div class="my-md">
          <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
            <ng-template #message>
              Federações cadastradas no sistema
            </ng-template>
          </nz-alert>
        </div>
        <st #st [columns]="columns" [data]="data" [loading]="loading" (change)="stChange($event)">
          <ng-template st-row="status" let-i>
            <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText"></nz-badge>
          </ng-template>
        </st>
      </nz-card>
      