<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Cadastrar Clube</h4>
          </div>
          <div class="content">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="federation">Federação</label>
                    <input id="federation" type="text" class="form-control" placeholder="Federação">
                    <!--Carregar as federações do sistema-->
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name">Nome</label>
                    <input id="name" type="text" class="form-control" placeholder="Nome do Clube">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>CEP</label>
                    <input type="text" class="form-control" placeholder="99999-999">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label>Endereço</label>
                    <input type="text" class="form-control" placeholder="Rua, Av e etc.">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Cidade</label>
                    <input type="text" class="form-control" placeholder="Cidade">
                  </div>
                </div>

              </div>

              <button type="submit" class="btn btn-info btn-fill pull-right">Cadastrar</button>
              <div class="clearfix"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>